main {
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
}

h1 {
  margin: 5rem;
}

#counter-value {
  font-size: 5rem;
  font-weight: bold;
}

.button-container {
  margin-top: 4rem;
}

.btn {
  text-transform: uppercase;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid;
  color: #333;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background: #333;
}
